<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hiramexpress.dao.RateDao" >
    <insert id="insertRate">
        insert into rate (rate_message, rate_email, rate_stars, rate_realip, rate_time)
        values (#{message,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{stars,jdbcType=INTEGER}, #{realIp,jdbcType=VARCHAR}, #{date,jdbcType=DATE})
    </insert>
</mapper>