<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hiramexpress.dao.RecordDao" >
    <resultMap id="BaseResultMap" type="com.hiramexpress.domain.Record" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="record_date" property="recordDate" jdbcType="DATE" />
        <result column="record_times" property="recordTimes" jdbcType="INTEGER" />
    </resultMap>
    <sql id="Base_Column_List" >
        id, record_date, record_times
    </sql>
    <select id="selectRecordByDate" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select <include refid="Base_Column_List" /> from record where record_date = #{date,jdbcType=DATE}
    </select>
    <select id="selectAllTimes" resultType="java.lang.Integer" >
        select sum(record_times) from record
    </select>
    <select id="selectRecords" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" /> from record
    </select>
    <insert id="insertRecords" parameterType="com.hiramexpress.domain.Record" >
        insert into record (record_date, record_times)
        values (#{recordDate,jdbcType=DATE}, #{recordTimes,jdbcType=INTEGER})
    </insert>
    <update id="updateRecord" parameterType="com.hiramexpress.domain.Record">
        update record set record_times=#{recordTimes,jdbcType=INTEGER} where id=#{id,jdbcType=INTEGER}
    </update>
</mapper>